.App {
  text-align: center;
}
.add{
  color:rgb(25, 226, 25);
}
.sub{
  color:red;
}
.joke{
  
  height:5vh;
  top:0;
}
#jokeDiv{
  border-bottom: 2px dotted blue;
  display:flex;
  justify-content: center;
  align-content: center;
  padding:5vh;
}

